.DS_Store
.~lock*
notes.md
notes/
archive/
*.mmd
emails.md
recitation-*.md

# React

node_modules/
package-*.json

# UNITY

[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
sysinfo.txt
*.stackdump
Assets/AssetStoreTools*
*.apk

# VISUAL STUDIO

[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
.pidb.meta
*.suo
*.sln*
*.user
*.unityproj
*.booproj
consulo/
*.tmp
*.svd
