/* 
all CSS declarations follow this pattern:

SELECTOR {
    PROPERTY: VALUE;
}
*/


body {
    background-color: white;
    color: black;
    font-display: swap; /* displays the system font as long as the desired font isn't loaded yet */
}

.main-content{
    width: 60%;
    margin:auto;

    display: flex;
    flex-direction: column;
}

.actual-content {
    position: relative;
    display: flex;
    direction: row;
    gap: 10px;
}

.toc-holder{
    width: 80%;
    position: sticky;
    top: 0px;
    align-self: flex-start;
}

.toc h3 {
    margin: 0;
}

.toc a {
    color: #000000;
}

a {
    color: grey;
}

a:hover{
    color:darkblue;
}

hr {
    border: 1px solid black;
    width: 40%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.heading {
    font-family: 'Pangolin', cursive;
}

.heading:hover{
    text-decoration: underline;
}


.my-intro{
    font-style: italic;
}

.image-with-legend {
    border: 1px black solid;
    padding: 5px;
    width:50%;
}

.img-legend{
    /* display - none - block */
    /* visible: hidden - visible */
    display: none; 
    font-style: italic;
    font-size: 10px;
}

img{
    width: 100%;
}