/* all p and a tags are going to have these styles */
p {
    font-size: 24px;
}

a{
    color: black;
}

/* styles for specific classes */
.image-holder{
    display: flex; /* the flex attribute goes on the parent */
    
    justify-content: space-around;
    align-items: center;
}

.legend {
    font-style: italic;
    text-align: center;
    margin: 0;
}

/* the width is relative to the parent */
.companion-paragraph {
    width: 25%;
}

.image{
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}
