html {
    background-color: black;
    color: white;
}
body {
    margin: 0 auto;
    width: 800px;
}
img {
    width: 50%;
    margin-bottom: 2em;
}
img.disappeared {
    display: none;
}
button {
    background-color: yellow;
    font-size: 150%;
    padding: 0.2em 0.5em;
    border: none;
}
button:hover {
    border: 2px red solid;
}