body {
	margin: 0;
	padding: 0;
	font-family: 'Inter UI', Trebuchet MS;
}

header {
	background-color: black;
	color: white;
  padding: 10px;
}

header h2, header h3{
	display: inline-block;
	margin-left: 5%;
}

a {
	text-decoration: none;
  color: #e77607;
}

a:hover {
	text-decoration: underline;
}

a:visited {
  color: #b25900;
}

header a{
	color: white;
	text-decoration: none;
	border: 2px solid white;
	padding: 3px;
}

main{
	position: absolute;
	margin-left: 10%;
	width: 80%;
}

hr {
	border: none;
	height: 2px;
	background-color: black;
	float: left;
	width: 100%;
}

img {
	max-height: 300px;
	max-width: 90%;
}

.concept-group{
	position: relative;
	width: 100%;
	height: auto;
	float: left;
}

.prep-group{
	position: relative;
	font-size: 1.2em;
	width: 50%;
	float: left;
}

.note-group{
	position: relative;
	width: 50%;
	float: left;
	overflow: auto;
	text-align: left;
	overflow: auto;
}

.note {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	overflow: auto;
}

.writeup-group{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
}

.writeup{
	width: 100%;
	float: left;
	margin-bottom: 10px;
	font-style: italic;
}
